<!DOCTYPE html>
<html>
<head>
	<title>Smart Chatbot</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<br><br>
	<h2 align="center">Smart Conversational bot to identify topics according to user's likings</h2>
	<br>
	<br>
	<div class="jumbotron" style="width:70%;margin: auto;padding: 20px;">
<!-- <div class="container"> -->

<div class="alert alert-primary" role="alert">

	Chatbot:<strong>
  <script>
     var text = '{{ bot_response }}';
     var uid = '';
  if(text == ""){
    document.write("Tell me which topics would you like to do in your project");

  }
  else{
    document.write('{{ bot_response }}');
  }
  </script>
</strong>
  <!-- <input placeholder="Tell me something about your project" disabled>{{bot_response}}</input> -->
</div>


	<form  action="/process" method="POST">
  <div class="form-group">
    <!-- User Name : <input type="text" name="uid" id = "uid" class="form-control" placeholder="{{uid}}"><br> -->
    <label for="exampleInputEmail1">Reply</label>
    <input type="text" name="user_input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Talk to my friend"><br>
  <button type="submit" class="btn btn-primary">Send</button>
  <p id="uid_demo"></p>


</form>
</div>

<script>
// document.getElementById("uid").innerHTML = {{uid}};
</script>
<!-- </div> -->
</div>
<br>
<br>
<div align="center">
<form action="/subdomain1" method="post">
	<!-- <input type="text" name="uid"> -->
  <button name="forwardBtn" type="submit">Search for subdomain</button>
</form>
</div>
</div>


</body>
</html>
